<div class="main">
    <div class="headphones">
        <div class="left">
            <img src="../../../assets/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg" alt="">
        </div>
        <div class="right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto numquam iste. Aut, architecto neque voluptatem eveniet, id a reiciendis officia nulla consequuntur, quidem inventore dolore et voluptatibus rerum. Aliquid.
            Nesciunt, accusamus ipsum numquam quis reprehenderit expedita temporibus, repudiandae sed ipsam sapiente molestias consequuntur, blanditiis harum animi iure minima impedit. Quia error necessitatibus ipsa quam accusantium dolore delectus fuga modi.</p>
        </div>
    </div>
    <div class="headphones">
        <div class="left">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto numquam iste. Aut, architecto neque voluptatem eveniet, id a reiciendis officia nulla consequuntur, quidem inventore dolore et voluptatibus rerum. Aliquid.
            Nesciunt, accusamus ipsum numquam quis reprehenderit expedita temporibus, repudiandae sed ipsam sapiente molestias consequuntur, blanditiis harum animi iure minima impedit. Quia error necessitatibus ipsa quam accusantium dolore delectus fuga modi.</p>
        </div>
        <div class="right">
            <img src="../../../assets/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg" alt="">
        </div>
    </div>
    <div class="headphones">
        <div class="left">
            <img src="../../../assets/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg" alt="">
        </div>
        <div class="right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto numquam iste. Aut, architecto neque voluptatem eveniet, id a reiciendis officia nulla consequuntur, quidem inventore dolore et voluptatibus rerum. Aliquid.
            Nesciunt, accusamus ipsum numquam quis reprehenderit expedita temporibus, repudiandae sed ipsam sapiente molestias consequuntur, blanditiis harum animi iure minima impedit. Quia error necessitatibus ipsa quam accusantium dolore delectus fuga modi.</p>
        </div>
    </div>
</div>