<div class="main">
    <div class="headphones">
        <div class="left">
            <img src="../../../assets/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg" alt="">
        </div>
        <div class="right">
            
        </div>
    </div>
    <div class="headphones">
        <div class="left">

        </div>
        <div class="right">
            
        </div>
    </div>
    <div class="headphones">
        <div class="left">

        </div>
        <div class="right">
            
        </div>
    </div>
</div>