<nav>
    <div class="main">
        <div class="logo">
            <img src="../../assets/shared/desktop/logo.svg" alt="Audiophile Logo">
        </div>
        <div class="nav-links">
             <!-- [routerLinkActiveOptions]="{exact: true}" 
              (click)="onClickHome($event)"-->
            <!-- <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkActiveOptions">HOME</a> -->
            <!-- <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkActiveOptions">HOME</a> -->
            <!-- <a  routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a> -->
            <a (click)="onClickHome($event)" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkActiveOptions">HOME</a>
            <a (click)="onClickHeadphones($event)" routerLink="/headphones" routerLinkActive="active">HEADPHONES</a>
            <!-- <a (click)="onClickHomes($event)" routerLink="/homes" routerLinkActive="active">HOMES</a> -->
            <a (click)="onClickSpeakers($event)" routerLink="/speakers" routerLinkActive="active">SPEAKERS</a>
            <a (click)="onClickEarphones($event)" routerLink="/earphones" routerLinkActive="active">EARPHONES</a>
        </div>
        <div class="cart">
            <a (click)="onClickCart($event)" routerLink="/cart" class="cart-link">
                <img src="../../assets/shared/desktop/icon-cart.svg" alt="Cart Icon">
                <span class="cart-count" *ngIf="cartService.cartItems.length > 0">
                    {{ cartService.cartItems.length }}
                </span>
            </a>
        </div>
    </div>
    
    <!-- <div class="hamburger" (click)="toggleMenu()">
        <img src="../../assets/shared/mobile/icon-hamburger.svg" alt="Menu Icon">     
    </div>
    <div class="mobile-menu" [class.active]="isMenuOpen">
        <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">HOME</a>
        <a routerLink="/headphones" routerLinkActive="active" (click)="closeMenu()">HEADPHONES</a>
        <a routerLink="/speakers" routerLinkActive="active" (click)="closeMenu()">SPEAKERS</a>
        <a routerLink="/earphones" routerLinkActive="active" (click)="closeMenu()">EARPHONES</a>
        <a routerLink="/cart" class="cart-link" (click)="closeMenu()">
            <img src="../../assets/shared/desktop/icon-cart.svg" alt="Cart Icon">
            <span class="cart-count" *ngIf="cartService.cartItems.length > 0">
                {{ cartService.cartItems.length }} -->
            <!-- </span>
        </a>
    </div>         --> 
    <!-- MOBILE MENU -->
    <!-- <div class="mobile-menu" [class.active]="isMenuOpen">
        <a routerLink="/home" (click)="closeMenu()">HOME</a>
        <a routerLink="/headphones" (click)="closeMenu()">HEADPHONES</a>
        <a routerLink="/speakers" (click)="closeMenu()">SPEAKERS</a>
        <a routerLink="/earphones" (click)="closeMenu()">EARPHONES</a>
        <a routerLink="/cart" class="cart-link" (click)="closeMenu()">
        <img src="../../assets/shared/desktop/icon-cart.svg" alt="Cart Icon" />
        <span class="cart-count" *ngIf="cartService.cartItems.length > 0">
            {{ cartService.cartItems.length }}
        </span>
        </a>
    </div> -->




</nav>