<!-- <div class="main">
     <div class="categories">
            <div class="category category-headphones">
                <h2>HEADPHONES</h2>
                <a routerLink="headphones" class="btn">SHOP</a>
            </div>
            <div class="category category-speakers">
                <h2>SPEAKERS</h2>
                <a routerLink="speakers" class="btn">SHOP</a>
            </div>
            <div class="category category-earphones">
                <h2>EARPHONES</h2>
                <a routerLink="earphones" class="btn">SHOP</a>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quaerat facilis maiores mollitia labore quae quasi, aliquam molestias cupiditate, cumque laborum nulla! Odio maxime repellat harum cumque animi soluta vitae!</p>
    </div>
    <div class="hero">
        <img src="../../assets/home/desktop/image-hero.jpg" alt="Hero Image">
        <div class="hero-text">
            <h1>NEW PRODUCT</h1>
            <p>Introducing the all-new XX99 Mark II headphones. Experience unrivaled sound quality with advanced noise cancellation and immersive audio.</p>
            <a routerLink="headphones/xx99-mark-two-headphones" class="btn">SEE PRODUCT</a>
        </div>
</div>
        -->
<p>Home works</p>