<div class="main">
     <div class="categories">
            <div class="category category-headphones">
                <h2>HEADPHONES</h2>
                <a routerLink="/headphones" class="btn">SHOP</a>
            </div>
            <div class="category category-speakers">
                <h2>SPEAKERS</h2>
                <a routerLink="/speakers" class="btn">SHOP</a>
            </div>
            <div class="category category-earphones">
                <h2>EARPHONES</h2>
                <a routerLink="/earphones" class="btn">SHOP</a>
            </div>
    </div>
</div>
       